.photo {
    border: 2px solid red;
    width: 100%;
    padding: 1rem;
    height: fit-content;
}
.photo:hover {
    border: 2px solid blue;

}
.image {
    transition: all 0.5s;

}
.image:hover {
    transform: scale(1.05);
    opacity: .7;

}