.form-container {
    margin-bottom: 2rem;
}
.icons-container {
    align-items: center;
}
.social-icons {
    margin: 2rem 0.5rem;
    width: 2rem;
}

.form-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.input {
    width: 20rem;
    height: 1.5rem;
    margin-left: 2rem
}

.submit {
    text-align: center;
}

textarea {
      font-family: "Helvetica Neue", Helvetica, Sans-serif;

}

.mobile-form-input {
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.mobile-input {
    width: 80%;
    height: 2rem;
}

.mobile-form {
    width:100%
}

a {
    padding:1rem;
}